<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="assets/gps-70521.png" id="icon" alt="User Icon" />
            <h1>
                FindMyKids Admin
            </h1>
        </div>

        <form [formGroup]="loginForm">
            <input type="text" id="email" class="fadeIn second" name="email" formControlName="email" placeholder="Correo">

            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.email">
                    <div class="error-message" *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty ||loginForm.get('email').touched)">
                        {{error.message}}
                    </div>
                </ng-container>
            </div>
            <input type="password" id="password" class="fadeIn second" name="password" formControlName="password" placeholder="Contraseña">

            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.password">
                    <div class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty ||loginForm.get('password').touched)">
                        {{error.message}}
                    </div>
                </ng-container>
            </div>
            <input type="submit" class="fadeIn fourth" [disabled]="!loginForm.valid" value="Entrar" (click)="tryLogin(loginForm.value)">

        </form>

        <div class="col-md-4 col-md-offset-4">
            <p>¿No tienes una cuenta? <a routerLink="/register">Registrarse</a></p>
            <a routerLink="/home"><i class="fas fa-arrow-left"></i> Regresar al inicio</a>

        </div>
        <br>
        
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
    </ngx-loading>
</div>