<!-- <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Children</a>
</nav>


<div class="row pad-10">
    <div class="col-8">
        <h3>Mapa <small *ngIf="siguiendoNombre">siguiendo a: {{ siguiendoNombre }}</small> </h3>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
            <agm-marker #marker *ngFor="let children of chidrens" [latitude]="children.lat" [longitude]="children.lng"></agm-marker>
        </agm-map>

    </div>
    <div class="col-4">

        <h3>chidrens</h3>
        <div class="list-group">
            <a href="#" (click)="seguir(children)" *ngFor="let children of chidrens" class="list-group-item list-group-item-action">
        {{ children.id }}
      </a>
            <br>
            <button *ngIf="siguiendoNombre" (click)="dejarDeSeguir()" class="btn btn-primary btn-block">
        Dejar de seguir
      </button>


        </div>
    </div>
    <div class="col-5">

        <h3>chidrens</h3>
        <div class="list-group">
            <a href="#" (click)="seguir(children)" *ngFor="let children of chidrens" class="list-group-item list-group-item-action">
          {{ children.id }}
        </a>
            <br>
            <button *ngIf="siguiendoNombre" (click)="dejarDeSeguir()" class="btn btn-primary btn-block">
          Dejar de seguir
        </button>


        </div>
    </div>
</div> -->

<router-outlet></router-outlet>